{{ define "stylesheet" }}
	{{ partial "langsjonstyle" . }}
{{ end }}
{{ define "header" }}
	{{ partial "langsjoheader" . }}
{{end}}
{{ define "main" }}
	{{ $paginator := .Paginate .Pages}}
{{ template "_internal/pagination.html" . }}
{{ range $paginator.Pages }}
<article>
	<header>
   <h1><a href="{{ .RelPermalink }}">{{ .Title }}</a></h1>
</header>
<main>{{ with .Params.inlaggsbild }}
		<img src="/bilder/{{ . }}" class="langsjobild"/>
		{{ end }}
		<div class="ingress">{{ .Summary }}</div>
		<a href="{{ .RelPermalink }}" class="lasmer">Fortsätt</a>
	</main></article>
{{ end }}
{{ end }}