{{ define "stylesheet" }}
	{{ partial "langsjonstyle" . }}
{{ end }}
{{ define "header" }}
	{{ partial "langsjoheader" . }}
{{end}}
{{ define "main" }}
	<article>
		<header>
			<h1>{{ .Title }}</h1>
			        {{ partial "sharing.html" . }}
			{{ with .Params.inlaggsbild }}
				<img src="/bilder/{{ . }}" class="langsjobild lbstor">
			{{ end }}
		</header>
		<main>
			{{- .Content -}}
		</main>
		
	</article>
{{ end }}