$debug_grid: false;
$lh: 1.3;
$font-size: 120%;

body {
	font-family: minion-pro, serif;
	font-size: $font-size;
	line-height: $lh;
	@if $debug_grid {
	background-size: $lh $lh;
	background-image: linear-gradient(to right, grey 1px, transparent 1px), linear-gradient(to bottom, lightgrey 1px, transparent 1px);
	background-repeat: repeat;
	}
}

p {
	margin: 0 0 $lh*1em 0;
}

#contentwrapper {
	margin: 0;
	min-width: 320px;
	padding: 0 .5em;
}

a:link, a:visited {
	text-decoration: none;
	color: #666699;
}

h1 {
	$fs: 1.2*1.2*1.2;
	font-size: $fs*100%;
	line-height: 1.1;
	/*line-height: 2*$lh/$fs; */
	/*line-height: $lh/$fs;*/
	margin: $lh/$fs*0.5em 0 $lh/$fs*0.5em;
	font-weight: normal;
	font-style: italic;

}

h1#sidnamn {
	font-style: normal;
	font-size: 1.8em;
	line-height: 1.4;
	margin: 0;
}

time {
	color: #72396a;
	display: block; 
	line-height: 1.5;
	margin: 0 0 0 0;
}

nav ul {
	display: flex;
	padding: 0.35em;
	margin: 0;
	width: 100%;
	/*border-top: solid 1px gray;
	border-bottom: solid 1px gray;*/
}

nav ul li {
	margin: 0 20px 0 0;
	font-size: 0.75em;
}

footer {
	font-size: $font-size/1.2/1.2;
	text-align: center;
	margin:1em;
}

.inlagg h1#sidnamn, .sida h1#sidnamn {
	font-size: 2em;
}

.inlagg main h1, .sida main h1 {
	font-size: 2.5em;
}

@media (min-width: 600px) {
	body {
		font-size: 120%;
	}
	#contentwrapper {
		max-width: 600px;
		margin: 0 auto;
	}
}