$sf: 1.2;
$lh: $sf;
$isf: 1/$sf;
$font-size: 1rem;

@function big($n) {
    @if $n==0 {
        @return $font-size;
    }

    $scale: if($n < 0, $isf, $sf);
    $bigness: 1;

    @for $i from 1 to abs($n) {
        $bigness: $bigness * $scale;
    }

    @return $bigness * $font-size;
}
