@import "lisaforare";
$combordercolor: #cccccc;
$comtimecolor: #666666;
$comlinkbuttoncolor: orange;
$comlinkbuttonhovercolor: darkorange;
$combuttonbackgroundcolor: #cccccc;
$combuttondisabledcolor: #999999;
$combuttondisabledbackgroundcolor: #cccccc;

#comments {
    max-width: $md;
    margin: auto;
}

$spacing: big(-2) - big(-4);

.com {
    font-size: big(-3);
    margin-bottom: $spacing*1.5;


    &__frame {
        //border: 1px solid $combordercolor;
        background-color: #f4f4f4;
        border-radius: 10px;
        margin-bottom: $spacing;
        padding: 0.3em 0.5em;


    }

    &__replies {
        margin-left: 5em;
    }

    &__time {
        font-size: big(-4);
        color: $comtimecolor;
        margin-bottom: big(-3) - big(-4)
    }

    &__author {
        float: left;
        font-weight: bold;
        margin-right: 0.5em;
    }

    &__content {
        white-space: pre-line;
    }

    &__list {}

    &__replybutton {
        background: none;
        display: block;
        color: $comlinkbuttoncolor;
        border: none;
        margin-left: 5px;
        font: inherit;
        font-size: big(-4);
        cursor: pointer;
        line-height: 0.8em;
        padding: 0;

        &:hover {
            color: $comlinkbuttonhovercolor;
        }
    }

    &__form {
        font-size: big(-3);
    }

    & &__form {
        margin-left: 5em;
    }

    @mixin textareastyle {
        border-style: solid;
        border-width: 1px;
        border-color: #cccccc;
        padding: 0.12em;
        width: 100%;
        border-radius: 5px;
    }

    &__textarea-wrapper {
        position: relative;
        margin: 0 0 $spacing 0;

        pre {
            @include textareastyle;
            font: inherit;
            //font-family: mrs-eaves, serif;
            white-space: pre-wrap;
            color: red;
            min-height: $lh * 2em + 0.28em;
            border-color: transparent;
            margin: 0;
        }
    }

    &__textarea {
        @include textareastyle;
        height: 100%;
        position: absolute;
        z-index: 10;
        left: 0;
        top: 0;
        resize: none;
    }

    &__button {
        background-color: $combuttonbackgroundcolor;
        border-radius: 10px;
        border: none;
        //border: 1px solid #bbbbbb;
        font-size: big(-4);
        margin-bottom: big(-3) - big(-4);
        &:disabled {
            color: $combuttondisabledcolor;
            background-color: $combuttondisabledbackgroundcolor;
        }
    }

    &__status {
        font-size: big(-2);
        margin-bottom: $spacing;
    }

    &__login, &__logout, &__newaccount {
        background: none;
        font: inherit;
        border: none;
        cursor: pointer;
        display: inline;
        padding:0;
        color: $comlinkbuttoncolor;
        outline: none;
        &:hover {
            color: $comlinkbuttonhovercolor;
        }


    }

}

.modal {

    /* This way it could be display flex or grid or whatever also. */
    display: block;

    /* Probably need media queries here */
    width: 600px;
    max-width: 100%;

    height: auto;
    max-height: 100%;

    position: fixed;

    z-index: 100;
    overflow: auto;
    left: 50%;
    top: 50%;

    /* Use this for centering if unknown width/height */
    transform: translate(-50%, -50%);

    /* If known, negative margins are probably better (less chance of blurry text). */
    /* margin: -200px 0 0 -200px; */

    background: white;
    border: 1px solid #999;
    border-radius: 10px;


    &__overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 50;

        background: rgba(0, 0, 0, 0.2);
    }

    &__guts {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        /*overflow: auto;*/
        padding: 20px 50px 20px 20px;
    }
}
