@import "share";
$debug_grid: false;
$sf: 1.2;
$lh: $sf;
$sf2: $sf*$sf;
$sf3: $sf*$sf2;
$isf: 1/$sf;
$isf2: $isf*$isf;
$isf3: $isf*$isf2;
$font-size: 120%;
$big: $sf*$font-size;
$bigger: $sf*$big;
$biggest: $sf*$bigger;
$huge: $sf*$biggest;
$small:$isf*$font-size;
$smaller: $isf*$small;
$smallest: $isf*$smaller;

body {
	font-family: mrs-eaves, serif;
	background-color: white;
	font-size: $font-size;
	line-height: $lh;
	@if $debug_grid {
	background-size: $lh $lh;
	background-image: linear-gradient(to right, grey 1px, transparent 1px), linear-gradient(to bottom, lightgrey 1px, transparent 1px);
	background-repeat: repeat;
	}
}

p {
	margin: 0 0 $lh*1em 0;
}

.ingress p:last-child {
	margin-bottom: 0;
}

#contentwrapper {
	margin: 0 auto;
	min-width: 320px;
	max-width: 650px;
	padding: 0 .5em;
}

a:link, a:visited {
	text-decoration: none;
	color: #85144b ;
}

a:hover {
	color: #FF4136 ;
}

a.lasmer {
	display: block;
	text-align: center;
	font-variant-caps: small-caps;
	margin: 1em auto (- $isf)*1em;
	width: 8em;
}

a.lasmer:link, a.lasmer:visited {
	text-decoration-line: none;	
}

h1 {
	font-size: $biggest;
	/*line-height: 2*$lh/$fs; */
	/*line-height: $lh/$fs;*/
	line-height: 1;
	margin: $isf*0.5em 0 $isf*0.5em;
	font-weight: normal;
	font-style: italic;

}

h1#sidnamn {
	font-style: normal;
	line-height: 1;
	margin: 0;
}

nav ul {
	display: flex;
	padding: 0.35em;
	margin: 0;
	width: 100%;
	/*border-top: solid 1px gray;
	border-bottom: solid 1px gray;*/
}

nav ul li {
	margin: 0 0.5em 0 0;
	font-size: $smaller;
}

footer {
	font-size: $smaller;
	text-align: center;
	margin:1em;
}

/*
a.lasmer:before {
	content: "→ ";
	white-space: nowrap;
}*/


.langsjobild {
	display: block;
	width: calc(50% - 0.3em);
	float: left;
	margin-right: 0.6em;
	margin-top: 5px;
	padding: 0.6%;
	border: 1px solid #cccccc;
}

.inlagg .langsjobild {
	width: 100%;
	padding: 1.2%;
	margin: 5px 0 1em;
}

#sidnamn {
	width: 100%;
	height: 1.2*1em;
}


#contentwrapper > header {
	color: black;
	width: calc(100% + 1em);
	margin-left: -0.5em;
	padding: 0 0.5em;
	border-bottom: 2px black solid;
	position: relative;

}

.inlagg #contentwrapper > header h1 {
	font-size: $big;
}

.inlagg h1 {
	font-size: $huge;
}



#trast {
	width: 40px;
	position: absolute;
	bottom: -3px;
	right:7%;
}

header h1 {
	a:link, a:visited {
		color:black;
	}
}

article::after {
	content: url(/bilder/trastlinje2.svg);
	display:block;
	margin: 5px auto 0px;
	width:80%;
	max-width: 350px;
}


hr {
	border: 0;
	border-bottom: 1px solid #aaa;
	margin: 2em auto;
	width:60%;
}


@media (min-width: 360px) {
	body {font-size: 130%;}
}

@media (min-width:650px) {

#contentwrapper {
	border-left: 1px #eeeeee solid;
	border-right:1px #eeeeee solid;	
}
}

@media (min-width: 800px) {
	body {font-size: 140%;}
}