$linkcolor: darkorange;
$hovercolor: darken($linkcolor, 10);
$h1linkcolor: black;
$h1hovercolor: orange;
$headerbgcolor: #cccccc;
$figbgcolor: white;
$figcapcolor: #666666;
$hrulecolor: #cccccc;
$sidnamncolor: black;
$bokpuffbgcolor: #999999;
$bokpuffcolor: black;
$navlinkbgcolor: black;
$navlinkcolor: white;
$navlinkdescriptioncolor: rgb(187, 187, 187);
$navlinkhovercolor: orange;
$navlinkdescriptionhovercolor:darkorange;
$timecolor: #777777;
