@mixin figcap {
    color: $figcapcolor;
    font-size: big(-3);
    text-align: center;
}

@mixin head1 {
    font-size: big(4);
    line-height: 1;
    margin: $isf*0.3em 0 $isf*0.8em;
    font-weight: bold;

    a {
        text-decoration: none;
        color: $h1linkcolor;
    }

    a:hover {
        color: $h1hovercolor;
    }
}

@mixin timestamp {
    font-size: big(-2);
    display: block;
    font-variant-caps: all-small-caps;
    color: $timecolor;
    margin-bottom: 1em;
    margin-top: -1em;
}

@mixin afterhrule {
    display: block;
    width: 80%;
    margin: 1em auto;
    height: 1px;
    background: $hrulecolor;
    content: "";
}

@mixin linkstyles {
    a {
        text-decoration: none;
        color: $linkcolor;
    }

    a:hover {
        color: $hovercolor;
    }
}
