@import "size";
@import "lfmixins";
@import "lfcolors";
@import "threshold";
@import "share";

// threshold variables

$lg: 800px;
$md: 700px;
$sm: 320px;
$smd: 450px;

$html-font-sizes: (null: 1.3rem, $smd: 1.4rem, $md: 1.4rem, $lg: 1.6rem);

html {
    @include font-size-map($html-font-sizes);
}

body {
    font-family: mrs-eaves, serif;
    line-height: $lh;
}

/* site header */
.h {
    background-color: $headerbgcolor;
    background: url(/bilder/bakgrund.jpg);
    margin: 0;
    padding: 0px 10px 10px;

    &__grid {
        min-width: $sm;
        max-width: $md;
        margin: 0 auto;
        display: grid;
        grid-column-gap: 20px;
        grid-row-gap: 10px;
    }

    &__title {
        font-size: big(7);
        font-style: italic;
        font-weight: bold;
        line-height: 1;
        margin: 0;

        a {
            text-decoration: none;
            color: $sidnamncolor;
        }

        @media (min-width:$sm) {
            &.homepage {
                grid-column-start: 1;
                grid-row-start: 1;
                grid-column-end: 3;
            }
        }
    }

    &__picframe {
        background-color: $figbgcolor;
        padding: 10px;
        width: calc(100% - 20px);
        border-radius: 5px;
        margin: 0;

        @media (min-width: $md) {
            grid-column-start: 1;
            grid-row-start: 2;
        }
    }

    &__pic {
        width: 100%;
        border-radius: 5px;
    }

    &__bokpuff {
        background-color: $bokpuffbgcolor;
        color: $bokpuffcolor;
    }

    &__caption {
        @include figcap;
    }

    &__nav {
        &.homepage {
            @media (min-width: $md) {
                grid-column-start: 2;
                grid-row-start: 2;
            }
        }
    }

    &__navlist {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        margin: 0;
        width: calc(100% - 20px);
        list-style: none;
        padding: 0;

        li {
            margin: 0 5px 10px 0;
            font-size: big(0);
            padding: 10px;
            border-radius: 5px;
            width: unset;
        }

        &.homepage {
            flex-direction: column;

            li {
                margin-right: 0;
                width: 100%;
            }
        }
    }

    &__navlink {
        background-color: $navlinkbgcolor;

        a {
            text-decoration: none;
        }
    }

    &__navlinkdesc {
        font-style: italic;
        font-size: big(-2);
        color: $navlinkdescriptioncolor;

        &:hover {
            color: $navlinkdescriptionhovercolor;
        }
    }

    &__navlinktext {
        font-variant-caps: all-small-caps;
        font-weight: bold;
        color: $navlinkcolor;

        &:hover {
            color: $navlinkhovercolor;
        }
    }
}

/* page content */
.nub {

    margin: 0 auto 0;
    min-width: $sm;
    max-width: $md;
    padding: 0 .5em;

    figcaption {
        color: $figcapcolor;
        font-size: big(-3);
        text-align: center;
    }

    figure {
        text-align: left;
        margin: 0 auto 1em 0;
        display: inline-block;
        max-width: 100%;

        img {
            max-width:100%;
        }
    }
}

/* site footer */
.foot {
    font-size: big(-3);
    text-align: center;
    margin: 1em;
}

/* a summary of a blog post */
.puf {
    &__title {
        @include head1;
    }

    &__ingress {
        &:after {
            @include afterhrule;
        }
    }

    &__time {
        @include timestamp;
    }


    &__ingress {
        p {
            margin: 0 0 $lh*1em;

            &:last-child {
                margin-bottom: 0;
            }
        }

        @include linkstyles;
    }

    img {
        max-width: 100%;
    }
}

/* a real blog post */
.post {
    &__title {
        @include head1;
    }

    &__body {
        &:after {
            @include afterhrule;
        }

        figcaption {
            color: $figcapcolor;
            font-size: big(-3);
            text-align: center;
        }

        figure {
            text-align: left;
            margin: 0 auto 0 0;
            display: inline-block;
            max-width: 100%;
            img {
                max-width: 100%;
            }
        }

        img {
            max-width: 100%;
        }

        @include linkstyles;
    }

    &__time {
        @include timestamp;
    }
}

.foot {
    font-size: big(-3);
    text-align: center;
    margin: 1em;
}
