.share {

    margin-top: -0.8em;
    margin-bottom: 1em;

    &__hidden {
        display: none;
    }

    &__icon {
        padding-right: 0.5em;

        img:hover {
            filter: brightness(1.1);
        }
    }
}
