@mixin threshold($mq01: 0, $mq2: false, $maxmin: min-width) {
    @if $mq2==false {
        @media ($maxmin: $mq01) {
            @content;
        }
    }

    @else {
        @media (min-width: $mq01) and (max-width: $mq2) {
            @content;
        }
    }
}

// responsive font size mixin
@mixin font-size-map($font-size-map) {

    @each $threshold,
    $font-size in $font-size-map {
        @if $threshold==null {
            font-size: $font-size;
        }

        @else {
            @include threshold($threshold) {
                font-size: $font-size;
            }
        }
    }
}
