.share {
  margin-top: -0.8em;
  margin-bottom: 1em;
}
.share__hidden {
  display: none;
}
.share__icon {
  padding-right: 0.5em;
}
.share__icon img:hover {
  filter: brightness(1.1);
}

html {
  font-size: 1.3rem;
}
@media (min-width: 450px) {
  html {
    font-size: 1.4rem;
  }
}
@media (min-width: 700px) {
  html {
    font-size: 1.4rem;
  }
}
@media (min-width: 800px) {
  html {
    font-size: 1.6rem;
  }
}

body {
  font-family: mrs-eaves, serif;
  line-height: 1.2;
}

/* site header */
.h {
  background-color: #cccccc;
  background: url(/bilder/bakgrund.jpg);
  margin: 0;
  padding: 0px 10px 10px;
}
.h__grid {
  min-width: 320px;
  max-width: 700px;
  margin: 0 auto;
  display: grid;
  grid-column-gap: 20px;
  grid-row-gap: 10px;
}
.h__title {
  font-size: 2.985984rem;
  font-style: italic;
  font-weight: bold;
  line-height: 1;
  margin: 0;
}
.h__title a {
  text-decoration: none;
  color: black;
}
@media (min-width: 320px) {
  .h__title.homepage {
    grid-column-start: 1;
    grid-row-start: 1;
    grid-column-end: 3;
  }
}
.h__picframe {
  background-color: white;
  padding: 10px;
  width: calc(100% - 20px);
  border-radius: 5px;
  margin: 0;
}
@media (min-width: 700px) {
  .h__picframe {
    grid-column-start: 1;
    grid-row-start: 2;
  }
}
.h__pic {
  width: 100%;
  border-radius: 5px;
}
.h__bokpuff {
  background-color: #999999;
  color: black;
}
.h__caption {
  color: #666666;
  font-size: 0.6944444444rem;
  text-align: center;
}
@media (min-width: 700px) {
  .h__nav.homepage {
    grid-column-start: 2;
    grid-row-start: 2;
  }
}
.h__navlist {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 0;
  width: calc(100% - 20px);
  list-style: none;
  padding: 0;
}
.h__navlist li {
  margin: 0 5px 10px 0;
  font-size: 1rem;
  padding: 10px;
  border-radius: 5px;
  width: unset;
}
.h__navlist.homepage {
  flex-direction: column;
}
.h__navlist.homepage li {
  margin-right: 0;
  width: 100%;
}
.h__navlink {
  background-color: black;
}
.h__navlink a {
  text-decoration: none;
}
.h__navlinkdesc {
  font-style: italic;
  font-size: 0.8333333333rem;
  color: #bbbbbb;
}
.h__navlinkdesc:hover {
  color: darkorange;
}
.h__navlinktext {
  font-variant-caps: all-small-caps;
  font-weight: bold;
  color: white;
}
.h__navlinktext:hover {
  color: orange;
}

/* page content */
.nub {
  margin: 0 auto 0;
  min-width: 320px;
  max-width: 700px;
  padding: 0 0.5em;
}
.nub figcaption {
  color: #666666;
  font-size: 0.6944444444rem;
  text-align: center;
}
.nub figure {
  text-align: left;
  margin: 0 auto 1em 0;
  display: inline-block;
  max-width: 100%;
}
.nub figure img {
  max-width: 100%;
}

/* site footer */
.foot {
  font-size: 0.6944444444rem;
  text-align: center;
  margin: 1em;
}

/* a summary of a blog post */
.puf__title {
  font-size: 1.728rem;
  line-height: 1;
  margin: 0.25em 0 0.6666666667em;
  font-weight: bold;
}
.puf__title a {
  text-decoration: none;
  color: black;
}
.puf__title a:hover {
  color: orange;
}
.puf__ingress:after {
  display: block;
  width: 80%;
  margin: 1em auto;
  height: 1px;
  background: #cccccc;
  content: "";
}
.puf__time {
  font-size: 0.8333333333rem;
  display: block;
  font-variant-caps: all-small-caps;
  color: #777777;
  margin-bottom: 1em;
  margin-top: -1em;
}
.puf__ingress p {
  margin: 0 0 1.2em;
}
.puf__ingress p:last-child {
  margin-bottom: 0;
}
.puf__ingress a {
  text-decoration: none;
  color: darkorange;
}
.puf__ingress a:hover {
  color: #cc7000;
}
.puf img {
  max-width: 100%;
}

/* a real blog post */
.post__title {
  font-size: 1.728rem;
  line-height: 1;
  margin: 0.25em 0 0.6666666667em;
  font-weight: bold;
}
.post__title a {
  text-decoration: none;
  color: black;
}
.post__title a:hover {
  color: orange;
}
.post__body:after {
  display: block;
  width: 80%;
  margin: 1em auto;
  height: 1px;
  background: #cccccc;
  content: "";
}
.post__body figcaption {
  color: #666666;
  font-size: 0.6944444444rem;
  text-align: center;
}
.post__body figure {
  text-align: left;
  margin: 0 auto 0 0;
  display: inline-block;
  max-width: 100%;
}
.post__body figure img {
  max-width: 100%;
}
.post__body img {
  max-width: 100%;
}
.post__body a {
  text-decoration: none;
  color: darkorange;
}
.post__body a:hover {
  color: #cc7000;
}
.post__time {
  font-size: 0.8333333333rem;
  display: block;
  font-variant-caps: all-small-caps;
  color: #777777;
  margin-bottom: 1em;
  margin-top: -1em;
}

.foot {
  font-size: 0.6944444444rem;
  text-align: center;
  margin: 1em;
}

/*# sourceMappingURL=lisaforare.css.map */
