<!DOCTYPE html>
<html lang="{{ $.Site.LanguageCode | default "sv_SE" }}">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ block "title" . }}{{ .Site.Title }} {{ with .Params.Title }} | {{ . }}{{ end }}{{ end }}</title>
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width,minimum-scale=1">
    {{ .Hugo.Generator }}
    <link rel="stylesheet" href="{{ "css/sanitize.css" | relURL }}">
    {{ block "stylesheet" . }}
    <link rel="stylesheet" href="https://use.typekit.net/laf5vwf.css">
    <link rel="stylesheet" href="{{ "css/lisaforare.css" | relURL }}">
    {{ end }}
    {{- if .RSSLink -}}
    <link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
    <link href="{{ .RSSLink }}" rel="feed" type="application/rss+xml" title="{{ .Site.Title }}" />
    {{- end }}
    {{block "scripts" . }}{{ end }}
</head>

<body>
    {{ block "header" . }}{{ partial "site-header.html" .}}{{ end }}
    <main class="nub">
        {{ block "main" . }}{{- .Content -}}{{ end }}
    </main>
    {{ block "footer" . }}<footer class="foot">{{.Site.Copyright}} <a href="{{ relURL (.Site.BaseURL) }}">Lisa Förare</a></footer>{{ end }}
</body>

</html>
