{{ define "header"}}
{{ partial "site-header-single.html" .}}
{{ end }}
{{ define "scripts"}}
<!-- comment script goes here -->
{{ end }}
{{ define "main" }}
<article class="post">
    <header class="post__header">
        <h1 class="post__title">{{ .Title }}</h1>
        <time class="post__time" datetime="{{ .Date }}">{{ index $.Site.Data.dagar (printf "%s" .Date.Weekday)}}, {{ .Date.Day }} {{ index $.Site.Data.månader (printf "%d" .Date.Month) }} {{ .Date.Year }}</time>
        {{ partial "sharing.html" . }}
    </header>
    <main class="post__body">
        {{- .Content -}}
    </main>
    <section id="comments"></section>
</article>
{{ end }}
