<header>
	<h1 id="sidnamn"><a href="{{ relURL (.Site.BaseURL) }}langsjon/">Vid Långsjön</a></h1>
	
	<nav>
		<ul><li>Av <a href="{{ relURL (.Site.BaseURL) }}">Lisa Förare</a></li><li>Foto: <a href="/langsjon/fredric/">Fredric Dahlgren</a></li></ul>
	</nav><img src="/bilder/trast2.svg" width="30" id="trast">
</header>