<div class="share">
    <a href="https://facebook.com/sharer.php?{{ querify "u" .Permalink | safeURL }}"
 class="share__facebook" target="_blank" rel="nofollow"><span class="share__hidden">Dela på Facebook</span><span class="share__icon"><img src="/bilder/facebook.svg" width="27" height="27"></span></a>
    <a href="https://twitter.com/share?{{ querify "url" .Permalink "text" .Title | safeURL }}"
class="share__twitter" target="_blank" rel="nofollow"><span class="share__hidden">Dela på Twitter</span><span class="share__icon"><img src="/bilder/twitter.svg" width="27" height="27"></span></a>

  <a href="mailto:?{{ replace (querify "subject" "Tips om ett inlägg av Lisa Förare" "body" (print "Jag vill tipsa om ett inlägg av Lisa Förare! " .Permalink)) "+" "%20" | safeURL }}"
class="share__email"><span class="share__hidden">Tipsa om inlägg</span><span class="share__icon"><img src="/bilder/mail.svg" width="27" height="27"></span></a>
</div>

