<header class="h">
    <div class="h__grid homepage">
        <h1 class="h__title"><a href="{{ relURL (.Site.BaseURL) }}">Lisa Förare</a></h1>
        <figure class="h__picframe">
            <img class="h__pic" src="/bilder/lisa-forare-2.jpg" alt="Lisa Förare">
            <figcaption class="h__caption">Bild: Severus Tenenbaum</figcaption>
        </figure>
        <nav class="h__nav homepage">
            <ul class="h__navlist homepage">
                {{ range .Site.Data.nav }}
                <li class="h__navlink">
                    <a href="{{ index . "url" }}">
                        <div class=" h__navlinktext">{{ index . "länktext" }}
                        </div>
                        <div class="h__navlinkdesc">{{ index . "beskrivning" }}</div>
                    </a>
                </li>
                {{ end }}
                <li class="h__bokpuff">Romanen <em>Varken</em> kommer hösten 2019 på LB Förlag</li>
            </ul>
        </nav>
    </div>
</header>
