<header class="h">
    <div class="h__grid">
        <h1 class="h__title"><a href="{{ relURL (.Site.BaseURL) }}">Lisa Förare</a></h1>
        <nav class="h__nav">
            <ul class="h__navlist">
                <li class="h__navlink">
                    <a href="{{ relURL (.Site.BaseURL) }}">
                        <div class="h__navlinktext">Hem</div>
                    </a>
                </li>
                {{ range .Site.Data.nav }}
                <li class="h__navlink">
                    <a href="{{ index . "url" }}">
                        <div class="h__navlinktext">{{ index . "länktext" }}</div>
                    </a>
                </li>
                {{ end }}
            </ul>
        </nav>
    </div>
</header>
