{{ define "main" }}
{{ $paginator := .Paginate (where .Pages "Section" "post") }}
{{ template "_internal/pagination.html" . }}
{{ range $paginator.Pages }}
<article class="puf">
    <header class="puf__header">
        <h1 class="puf__title"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h1>
        <time class="puf__time" datetime="{{ .Date }}">{{ index $.Site.Data.dagar (printf "%s" .Date.Weekday)}}, {{ .Date.Day }} {{ index $.Site.Data.månader (printf "%d" .Date.Month) }} {{ .Date.Year }}</time>
    </header>
    <main class="puf__ingress">{{ .Summary }} <a href=" {{ .RelPermalink }}" class="puf__morelink">Fortsätt</a>
    </main>
</article>
{{ end }}
{{ end }}
